<h2>Design Variables</h2>
<table class='design-variables'>
  <thead>
    <tr>
      <th>Description (Symbol)</th>
      <th>Module Orientation</th>
      <th>Module Weight</th>
      <th>Average Roof Height (h)</th>
      <th>Least Horizonatal Dimension (lhd)</th>
      <th>Roof Slope</th>
      <th>Truss Spacing</th>
      <th>Basic Wind Speed</th>
      <th>Ground Snow Load</th>
      <th>Seismic</th>
      <th>Exposure Category</th>
      <th>Importance Factor</th>
      <th>Exposure on Roof</th>
      <th>Topographic Factor</th>
      <th>Thermal Factor for Snow Load</th>
      <th>Structural Screw Withdrawal</th>
      <th>Structural Screw Lateral</th>
      <th>EcoX Down Force</th>
      <th>EcoX Downslope Force</th>
      <th>EcoX Lateral Force</th>
      <th>Module Up Moment</th>
      <th>Module Down Moment</th>
      <th>Effective Wind Area</th>
      <th>Min Nominal Framing Depth</th>
      <th>Min Top Chord Specific Gravity</th>
      <th>Edge and Corner Dimension</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr><!-- Description (Symbol) -->
      <td>44.8</td>
    </tr>
    <tr><!-- Module Orientation -->
      <td>64.95</td>
    </tr>
    <tr><!-- Module Weight -->
      <td>(353) 098-1234</td>
    </tr>
  </tbody>
</table>