<h2>Design Variables</h2>
<table class='design-variables'>
  <thead>
    <tr>
      <th>Description (Symbol)</th>
      <th>Value</th>
      <th>Unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Module Weight</th>
      <td>44.8</td>
      <td>lbs</td>
    </tr>
    <tr>
      <th>Module Length (Long Edge)</th>
      <td>64.95</td>
      <td>ft</td>
    </tr>
    <tr>
      <th>Module Width (Short Edge)</th>
      <td>39.05</td>
      <td>ft</td>
    </tr>
    <tr>
      <th>Average Roof Height</th>
      <td>35.0</td>
      <td>ft</td>
    </tr>
    <tr>
      <th>Least Horizontal Dimension</th>
      <td>50.0</td>
      <td>lhd</td>
    </tr>
    <tr>
      <th>Roof Slope (θ)</th>
      <td>34.0</td>
      <td>deg</td>
    </tr>
    <tr>
      <th>Truss Spacing</th>
      <td>24.0</td>
      <td>in</td>
    </tr>
    <tr>
      <th>Basic Wind Speed (V)</th>
      <td>30.0</td>
      <td>mph</td>
    </tr>
    <tr>
      <th>Ground Snow Load (pg)</th>
      <td>50.0</td>
      <td>psf</td>
    </tr>
    <tr>
      <th>Exposure Category</th>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Module Orientation</th>
      <td>Landscape</td>
      <td></td>
    </tr>
    <tr>
      <th>Importance Factor</th>
      <td>II</td>
      <td></td>
    </tr>
    <tr>
      <th>Exposure on Roof</th>
      <td>Fully Exposed</td>
      <td></td>
    </tr>
    <tr>
      <th>Topographic Factor (Kzt)</th>
      <td>1.0</td>
      <td></td>
    </tr>
    <tr>
      <th>Thermal Factor for Snow Load (Ct)</th>
      <td>1.2</td>
      <td></td>
    </tr>
    <tr>
      <th>Structural Screw Withdrawal (@165lbf/in in 0.42 SG Wood)</th>
      <td>495.0</td>
      <td></td>
    </tr>
    <tr>
      <th>Structural Screw Lateral (0.42 SG Wood)</th>
      <td>236.0</td>
      <td></td>
    </tr>
    <tr>
      <th>EcoX Down Force</th>
      <td>1067.0</td>
      <td></td>
    </tr>
    <tr>
      <th>EcoX Up Force</th>
      <td>1000.0</td>
      <td></td>
    </tr>
    <tr>
      <th>EcoX Downslope Force</th>
      <td>233.0</td>
      <td></td>
    </tr>
    <tr>
      <th>EcoX Lateral Force</th>
      <td>233.0</td>
      <td></td>
    </tr>
    <tr>
      <th>Module Up Moment</th>
      <td>3600.0</td>
      <td></td>
    </tr>
    <tr>
      <th>Module Down Moment</th>
      <td>3600.0</td>
      <td></td>
    </tr>
    <tr>
      <th>Effective Wind Area</th>
      <td>50.0</td>
      <td></td>
    </tr>
    <tr>
      <th>Min Nominal Framing Depth</th>
      <td>3.0</td>
      <td></td>
    </tr>
    <tr>
      <th>Min Top Chord Specific Gravity</th>
      <td>0.4</td>
      <td></td>
    </tr>
    <tr>
      <th>Edge and Corner Dimension (a)</th>
      <td>5.0</td>
      <td></td>
    </tr>
  </tbody>
</table>