<h2>ASD Load Combinations Calculations</h2>
<table>
  <caption>Using calculation procedure of ASCE 7-10 Section 2.4</caption>
  <thead>
    <tr>
      <th>Description</th>
      <th>Interior</th>
      <th>Edge</th>
      <th>Corner</th>
      <th>Unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dead Load (D)</td>
      <td>2.5</td>
      <td>2.5</td>
      <td>2.5</td>
      <td>psf</td>
    </tr>
    <tr>
      <td>Snow Load (S)</td>
      <td>24.9</td>
      <td>24.9</td>
      <td>24.9</td>
      <td></td>
    </tr>
    <tr>
      <td>Downslope Load Combination 3 ((D+S*cosθ)*sinθ)</td>
      <td>19.8</td>
      <td>19.8</td>
      <td>19.8</td>
      <td>psf</td>
    </tr>
    <tr>
      <td>Down Load Combination 3 ((D+S*cosθ)*cosθ)</td>
      <td>12.0</td>
      <td>12.0</td>
      <td>12.0</td>
      <td>psf</td>
    </tr>
    <tr>
      <td>Down Load Combination 5 (D*cosθ)+W<sub>down</sub>)</td>
      <td>16.0</td>
      <td>16.0</td>
      <td>16.0</td>
      <td>psf</td>
    </tr>
    <tr>
      <td>Down Load Combination 6a ((D+0.75*S*cosθ)*cosθ+0.75*(W<sub>down</sub>))</td>
      <td>-10.5</td>
      <td>-19.4</td>
      <td>-29.4</td>
      <td>psf</td>
    </tr>
    <tr>
      <td>Up Load Combination 7 (0.6*D*cosθ+W<sub>up</sub>)</td>
      <td>19.8</td>
      <td>19.8</td>
      <td>19.8</td>
      <td>psf</td>
    </tr>
  </tbody>
</table>