<h2>Personal Details</h2>
<h4>12345678</h4>
<table class='personal-left'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John Smith</td>
    </tr>
    <tr>
      <td>jsmith@gmail.com</td>
    </tr>
    <tr>
      <td>(353) 098-1234</td>
    </tr>
  </tbody>
</table>
<table class='personal-right'>
  <thead>
    <tr>
      <th>Street Address</th>
      <th>Suite/PO#</th>
      <th>City, State, Zip</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>123 Boulder Ave</td>
    </tr>
    <tr>
      <td>Suite #4</td>
    </tr>
    <tr>
      <td>Boulder, Colorado, CO 80304</td>
    </tr>
    <tr>
      <td>United States</td>
    </tr>
  </tbody>
</table>