<table class="reference" id="TABLE_1">
  <tbody id="TBODY_2">
    <tr id="TR_3">
      <th id="TH_4">
        Firstname
      </th>
      <th id="TH_5">
        Lastname
      </th>
      <th id="TH_6">
        Points
      </th>
    </tr>
    <tr id="TR_7">
      <td id="TD_8">
        Jill
      </td>
      <td id="TD_9">
        Smith
      </td>
      <td id="TD_10">
        50
      </td>
    </tr>
    <tr id="TR_11">
      <td id="TD_12">
        Eve
      </td>
      <td id="TD_13">
        Jackson
      </td>
      <td id="TD_14">
        94
      </td>
    </tr>
    <tr id="TR_15">
      <td id="TD_16">
        John
      </td>
      <td id="TD_17">
        Doe
      </td>
      <td id="TD_18">
        80
      </td>
    </tr>
    <tr id="TR_19">
      <td id="TD_20">
        Adam
      </td>
      <td id="TD_21">
        Johnson
      </td>
      <td id="TD_22">
        67
      </td>
    </tr>
  </tbody>
</table>