<h2>Project Info</h2>
<table class='personal-left'>
  <caption>Customer Information</caption>
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr><!-- Project ID -->
      <td>12345678</td>
    </tr>
    <tr><!-- Name -->
      <td>John Smith</td>
    </tr>
    <tr><!-- Email -->
      <td>jsmith@gmail.com</td>
    </tr>
    <tr><!-- Phone -->
      <td>(353) 098-1234</td>
    </tr>
  </tbody>
</table>
<table class='personal-right'>
  <caption>Project Information</caption>
  <thead>
    <tr>
      <th>Street Address</th>
      <th>Suite/PO#</th>
      <th>City, State, Zip</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr><!-- Street Address -->
      <td>123 Boulder Ave</td>
    </tr>
    <tr><!-- Inverter Model -->
      <td>Suite #4</td>
    </tr>
    <tr><!-- Inverter Model -->
      <td>Boulder, Colorado, CO 80304</td>
    </tr>
    <tr><!-- Inverter Model -->
      <td>United States</td>
    </tr>
  </tbody>
</table>