<h2>Project Info</h2>
<table class='project-info-left'>
  <caption>Customer Information</caption>
  <tbody>
    <tr>
      <td>Project ID</td>
      <td>12345678</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>John Smith</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>jsmith@gmail.com</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>(353) 098-1234</td>
    </tr>
  </tbody>
</table>
<table class='project-info-left'>
  <caption>Project Information</caption>
  <tbody>
    <tr>
      <td>Street Address</td>
      <td>123 Boulder Ave</td>
    </tr>
    <tr>
      <td>Suite/PO#</td>
      <td>Suite #4</td>
    </tr>
    <tr>
      <td>City, State, Zip</td>
      <td>Boulder, Colorado, CO 80304</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>United States</td>
    </tr>
  </tbody>
</table>