<h2>Snow Load Calculations</h2>
<table>
  <caption>Using ASCE 7-10</caption>
  <thead>
    <tr>
      <th>Description</th>
      <th>Interior</th>
      <th>Edge</th>
      <th>Corner</th>
      <th>Unit</th>
    </tr>
  </thead>
  <tbody>
    <tr><!-- Flat Roof Snow Load -->
      <td>Flat Roof Snow Load</td>
      <td>37.8</td>
      <td>37.8</td>
      <td>37.8</td>
      <td>psf</td>
    </tr>
    <tr><!-- Slope Factor -->
      <td>Slope Factor</td>
      <td>0.65</td>
      <td>0.65</td>
      <td>0.65</td>
      <td></td>
    </tr>
    <tr><!-- Roof Snow Load -->
      <td>Roof Snow Load</td>
      <td>24.57</td>
      <td>24.57</td>
      <td>24.57</td>
      <td>psf</td>
    </tr>
  </tbody>
</table>