<h2>Spacing Calculations</h2>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Interior</th>
      <th>Edge</th>
      <th>Corner</th>
      <th>Unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Max allowable spacing </td>
      <td>37.8</td>
      <td>37.8</td>
      <td>37.8</td>
      <td>psf</td>
    </tr>
    <tr>
      <td>Slope Factor</td>
      <td>0.65</td>
      <td>0.65</td>
      <td>0.65</td>
      <td></td>
    </tr>
    <tr>
      <td>Roof Snow Load</td>
      <td>24.57</td>
      <td>24.57</td>
      <td>24.57</td>
      <td>psf</td>
    </tr>
  </tbody>
</table>