<h2>Spacing Results</h2>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Interior</th>
      <th>Edge</th>
      <th>Corner</th>
      <th>Unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Max Allowable Spacing Between Attachments</td>
      <td>63</td>
      <td>63</td>
      <td>63</td>
      <td>in</td>
    </tr>
    <tr>
      <td>Max Spacing Between Attachments Given Truss Spacing of 24in</td>
      <td>48</td>
      <td>48</td>
      <td>48</td>
      <td>in</td>
    </tr>
    <tr>
      <td>Max Cantilever from Attachment to Perimeter of PV Array</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>in</td>
    </tr>
  </tbody>
</table>