<h2>System Details</h2>
<table class='project-info-left'>
  <caption>Manufacturer Information</caption>
  <thead>
    <tr>
      <th>Module Manufacturer</th>
      <th>Module Model</th>
      <th>Module Quantity</th>
      <th>Array Size (kW)</th>
    </tr>
  </thead>
  <tbody>
    <tr><!-- Module Manufacturer -->
      <td>Trina Solar</td>
    </tr>
    <tr><!-- Module Model -->
      <td>TSM-245-PA05</td>
    </tr>
    <tr><!-- Module Quantity -->
      <td>31</td>
    </tr>
    <tr><!-- Array Size (kW) -->
      <td>5.145</td>
    </tr>
  </tbody>
</table>
<table class='project-info-right'>
  <caption>Installation Information</caption>
  <thead>
    <tr>
      <th>Mounting System Manufacturer</th>
      <th>Mounting System Product</th>
      <th>Roof Type</th>
      <th>Inverter Manufacturer</th>
      <th>Inverter Model</th>
    </tr>
  </thead>
  <tbody>
    <tr><!-- Mounting System Manufacturer -->
      <td>Ecolibrium Solar</td>
    </tr>
    <tr><!-- Mounting System Product -->
      <td>EcoX</td>
    </tr>
    <tr><!-- Roof Type -->
      <td>Composition Shingle</td>
    </tr>
    <tr><!-- Inverter Manufacturer -->
      <td>Enphase Energy</td>
    </tr>
    <tr><!-- Inverter Model -->
      <td>M215-Z</td>
    </tr>
  </tbody>
</table>