<h2>System Details</h2>
<table class='system-details-left'>
  <caption>Manufacturer Information</caption>
  <tbody>
    <tr><!-- Module Manufacturer -->
      <td>Module Manufacturer</td>
      <td>Trina Solar</td>
    </tr>
    <tr><!-- Module Model -->
      <td>Module Model</td>
      <td>TSM-245-PA05</td>
    </tr>
    <tr><!-- Module Quantity -->
      <td>Module Quantity</td>
      <td>31</td>
    </tr>
    <tr><!-- Array Size (kW) -->
      <td>Array Size (kW)</td>
      <td>5.145</td>
    </tr>
  </tbody>
</table>
<table class='system-details-left'>
  <caption>Installation Information</caption>
  <tbody>
    <tr><!-- Mounting System Manufacturer -->
      <td>Mounting System Manufacturer</td>
      <td>Ecolibrium Solar</td>
    </tr>
    <tr><!-- Mounting System Product -->
      <td>Mounting System Product</td>
      <td>EcoX</td>
    </tr>
    <tr><!-- Roof Type -->
      <td>Roof Type</td>
      <td>Composition Shingle</td>
    </tr>
    <tr><!-- Inverter Manufacturer -->
      <td>Inverter Manufacturer</td>
      <td>Enphase Energy</td>
    </tr>
    <tr><!-- Inverter Model -->
      <td>Inverter Model</td>
      <td>M215-Z</td>
    </tr>
  </tbody>
</table>