<h2>Wind Pressure Calculations</h2>
<table>
  <caption>Using ASCE 7-05 Chapter 6, Method 1</caption>
  <thead>
    <tr>
      <th>Description</th>
      <th>Interior</th>
      <th>Edge</th>
      <th>Corner</th>
      <th>Unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Net Design Wind Pressure Uplift (Pnet30_up)</td>
      <td>20.7</td>
      <td>24.3</td>
      <td>24.3</td>
      <td>psf</td>
    </tr>
    <tr>
      <td>Net Design Wind Pressure Downforce (Pnet30_down)</td>
      <td>19.4</td>
      <td>19.4</td>
      <td>19.4</td>
      <td>psf</td>
    </tr>
    <tr>
      <td>Adjustment Factor for Height and Exposure Category (λ)</td>
      <td>1.05</td>
      <td>1.05</td>
      <td>1.05</td>
      <td></td>
    </tr>
    <tr>
      <td>Design Wind Pressure Uplift (W<sub>up</sub>)</td>
      <td>21.735</td>
      <td>25.515</td>
      <td>25.515</td>
      <td>psf</td>
    </tr>
    <tr>
      <td>Design Wind Pressure Downforce (W<sub>down</sub>)</td>
      <td>20.37</td>
      <td>20.37</td>
      <td>20.37</td>
      <td></td>
    </tr>
  </tbody>
</table>