h1 {
  color: red;
}

table {
  float: left;
  /*table-layout: fixed;*/
  font-size: 10px
}

table, td, th {
  border: 1px solid red;
}

.project-info {
  /*display: block;*/
  width: 680px;
  height: 200px;
  border: 1px solid black;
}

.system-details {
  /*display: block;*/
  width: 680px;
  height: 200px;
  border: 1px solid black;
}

.design-variables {
  position: relative;
  width: 680px;
  height: 715px;
  border: 1px solid black;
}

.snow-load {
  margin-top: 80px;
  width: 680px;
  height: 200px;
  border: 1px solid black;
}

.wind-pressure {
  width: 680px;
  height: 200px;
  border: 1px solid black;
}

.load-combinations {
  width: 680px;
  height: 240px;
  border: 1px solid black;
}

.spacing-calculations {
  margin-top: 80px;
  width: 680px;
  height: 220px;
  border: 1px solid black;
}

.spacing-results {
  margin-top: 80px;
  width: 680px;
  height: 220px;
  border: 1px solid black;
}

.array {
  background: url("assets/solar_tile.png");
  height: 200px;
  width: 100%;
}

.svg-container {
  height: 200px;
  width: 100%;
  background-color: black;
}

/*svg {
    circle {
     fill: #ffc;
     stroke: blue;
     stroke-width: 2;
     stroke-dasharray: 5 3;
    }
    top: 100px;
    background-image: url("assets/solar_tile.png");
    background-color: red;
    viewBox: "100 100 200 200";
  }*/