h1 {
  color: red;
}

table {
  float: left;
}

table, td, th {
  border: 1px solid red;
}

thead {
  float: left;
}

thead th {
  font-size: 12px;
  display: block;
  background: yellow;
}

tbody {
  float: right;
}

tbody td {
  display: block;
  font-size: 10px;
}

.project-info {
  width: 680px;
  height: 200px;
  border: 1px solid black;
}

.system-details {
  width: 680px;
  height: 200px;
  border: 1px solid black;
}

.design-variables {
  width: 680px;
  height: 300px;
  border: 1px solid black;
}

.array {
  background: url("assets/solar_tile.png");
  height: 200px;
  width: 100%;
}

.svg-container {
  height: 200px;
  width: 100%;
  background-color: black;
}

/*svg {
    circle {
     fill: #ffc;
     stroke: blue;
     stroke-width: 2;
     stroke-dasharray: 5 3;
    }
    top: 100px;
    background-image: url("assets/solar_tile.png");
    background-color: red;
    viewBox: "100 100 200 200";
  }*/